# Environment variables
.env
.env.local
.env.*.local

# Database
*.db
*.sqlite
*.sqlite3

# Logs
*.log
logs/

# Dependencies
/vendor/

# Go workspace
go.work

# OS
.DS_Store
Thumbs.db

#Database dumps
*.sql

#Executable files
*.exe

#Photos
*.png
*.jpg
*.webp


#Postman
*.postman
*.postman_collection.json
*.postman_environment.json

